.Page {
    display: flex;
    justify-content: center;
    border: 2px solid grey;
}

.ProductsControl {
    border: 1px solid grey;
    margin: 5px;
    padding: 15px 50px;
}

.Cart {
    border: 1px solid grey;
    padding: 30px 70px;
    margin: 5px;
}