.OrderButton {
    background-color: black;
    outline: none;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    padding: 9px 18px;
    box-shadow: 2px 2px 2px grey;
}

.OrderButton:hover, .OrderButton:active {
    background-color: white;
    border: 1px solid black;
    color: black;
}
.OrderButton:disabled {
    background-color: #c7c6c6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

.ProductsAdd {
    padding: 10px;
    color: white;
    background-color: black;
}

.ProductsAdd:hover {
    padding: 10px;
    color: black;
    background-color: white;
}